<footer id="app-footer">
  <div class="footer-inner">

    <div class="footer-socials">
      <a href="https://www.facebook.com/profile.php?id=61581972135104" target="_blank" aria-label="Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>

      <a href="https://www.instagram.com/sidhant0812?igsh=MTJpZjRucjU3MjAzbw%3D%3D&utm_source=qr"
         target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-square-instagram"></i>
      </a>

      <a href="https://x.com/sidhant0812" target="_blank" aria-label="Twitter / X">
        <i class="fa-brands fa-twitter"></i>
      </a>

      <a href="https://www.linkedin.com/in/sidhant-nirupam-a1988431a/"
         target="_blank" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>

    <div class="footer-brand">
      © TripNext Private Limited
    </div>

    <div class="footer-links">
      <a href="#">Privacy</a>
      <span>•</span>
      <a href="#">Terms</a>
      <span>•</span>
      <a href="#">Conditions</a>
    </div>

  </div>
</footer>
