<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">

        <!-- LOGO -->
        <a class="navbar-brand d-flex align-items-center gap-2" href="/listings">
            <img src="/images/web-icon.png" alt="TripNext Logo" height="65">
        </a>

        <!-- WEBSITE NAME -->
        <div class="navbar-nav web-title">
            <a class="nav-link" id="web-title" href="/listings">
                <b>TripNext</b>
            </a>
        </div>

        <!-- MOBILE TOGGLER -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAV CONTENT -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <!-- SEARCH -->
            <div class="nav-search nav-hovernav-search-search">
                <form class="d-flex" role="search" action="/listings/search" method="get">
                    <input class="form-control me-2 search-inp" type="search"
                        placeholder="Location"
                        name="q" required />
                    <button class="btn search-btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i> Search
                    </button>
                </form>
            </div>

            <!-- RIGHT SIDE -->
            <div class="navbar-nav ms-auto align-items-center">

                <!-- 🌙 THEME TOGGLE -->
                <button id="themeToggle"
                    class="btn btn-outline-secondary btn-sm rounded-circle me-3"
                    title="Toggle theme">
                    🌙
                </button>

                <!-- USER DROPDOWN -->
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button"
                        data-bs-toggle="dropdown">
                        <i class="fa-solid fa-circle-user"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end">

                        <% if (!locals.currUser) { %>
                            <li>
                                <a class="dropdown-item" href="/signup">
                                    <i class="fa-solid fa-user-plus"></i>&nbsp; Sign up
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/login">
                                    <i class="fa-solid fa-user-check"></i>&nbsp; Log in
                                </a>
                            </li>
                        <% } %>

                        <% if (locals.currUser) { %>
                            <li class="dropdown-header text-center">
                                <i class="fa-solid fa-user"></i>
                                <b><%= locals.currUser.username %></b>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="/logout">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp; Log out
                                </a>
                            </li>
                        <% } %>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
