*:not(i){
   
  font-family: "Urbanist", sans-serif !important;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1; 
}

 .navbar{
    height: 5rem;
    background-color: aliceblue;
 }

 .fa-compass {
    color:red;
    font-size:2rem;
 }
 .nav-link{
    color:black !important;
 }

 /* footer */
 .f-info-links a {
    text-decoration: none;
    color:#222222;

 }
 .f-info-links a:hover{
    text-decoration:underline;
 }

 /* .f-info-links  .f-info-socials{
    width: 100%;
 } */
/* .f-info-links{
    width: 100%;
} */

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    /* font-size: 1.2rem; */
    display: flex;
    align-items: center;
    justify-content: center;  
}
.f-info-socials i {
    margin-right: 1rem;
    font-size: 2rem;
}

/* Main footer container */
.f-info {
    text-align: center;
    height: 6rem;
    background-color: rgb(196, 192, 192);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;       /* ❗Fix typo: 'centre' -> 'center' */
    /* align-items: center;           /* ❗Fix: 'space-evenly' is not valid here */
    /* gap: 1rem; */ 
}


/* CARDS */
.card{
    border:none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius:1rem !important;
    width:100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p {
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}


/* CARD EFFECT */
.card-img-overlay {
  opacity:0;
}
.card-img-overlay:hover{
    opacity: 0.4;
    background-color: white;
}

.btn{
    background-color: rgb(216, 54, 54) !important;
    border: none !important;
}
.logo {
      font-family: 'Pacifico', cursive;
      font-size: 80px;
      color: #430c90;
      text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
      animation: float 3s ease-in-out infinite;
       text-align: center;
    }